.bird {
    position: absolute;
    // background-image: url(/assets/images/bird.gif);
    background-image: url(/assets/images/pipe-green.png);
    background-repeat: no-repeat;
    transform: rotate(-15deg);
    left: 100px
}